.card{
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    float: left;
    margin: 10px;
    flex: 1;
    width:30%;
    height: 200px;
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
    padding-left: 10px;
}
.sizeSlider {
    -webkit-appearance: none;
    width: 96%;
    height: 15px;
    border-radius: 5px;  
    background: #c7c7c7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #a70909;
    cursor: pointer;
  }
  
  .sizeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #a70909;
    cursor: pointer;
  }
.sortingButtom{
    width: 20%;
}
.HomeScreen {
    height:100vh;
    backgroundColor:black;
    text-align: center;
  }
.homeScreen-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(141, 0, 0);
}